context:  # All variables defined here will be passed into templates
  pr_url: https://github.com/aklajnert/changelogd/pull
message_types: # The order defined below will be preserved in the output changelog file
- name: feature
  title: Features
- name: bug
  title: Bug fixes
- name: doc
  title: Documentation changes
- name: deprecation
  title: Deprecations
- name: other
  title: Other changes
entry_fields:
- name: pr_ids
  verbose_name: PR number
  type: str
  required: false
  multiple: true
- name: message
  verbose_name: Changelog message
  type: str
  required: true
output_file: ..\changelog.rst
partial_release_name: unreleased
